<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Open Fil Pilote</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <!-- jQuery unly required for json2html when attaching events from templates -->
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/2.1.0/json2html.min.js"></script>

  <script src="ofp.js"></script>
</head>

<body>

  <div class="container">

    <div class="row">
      <h1>OPEN FIL PILOTE</h1>
    </div>

    <div id="errors"></div>

    <div class="accordion" id="accordionApp">

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingHeaters">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeaters"
            aria-expanded="true" aria-controls="collapseHeaters">
            Zones et radiateurs
          </button>
        </h2>
        <div id="collapseHeaters" class="accordion-collapse collapse show" aria-labelledby="headingHeaters"
          data-bs-parent="#accordionApp">
          <div class="accordion-body">

            <h5>Forcer l'&eacute;tat de toutes les zones</h5>
            <div class="row" id="zoneOverride">
            </div>

            <hr>

            <h5>Configurer les zones</h5>
            <div id="zoneList">
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingPlanning">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsePlanning" aria-expanded="false" aria-controls="collapsePlanning">
            Planning et programmation
          </button>
        </h2>
        <div id="collapsePlanning" class="accordion-collapse collapse" aria-labelledby="headingPlanning"
          data-bs-parent="#accordionApp">
          <div class="accordion-body">

            <form>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="newPlanningInput">
                <label for="newPlanningInput">Nom de la programmation</label>
              </div>
            </form>
            <div class="mb-3">
              <button type="button" class="btn btn-primary mb-3" id="planningCreateButton">Cr&eacute;er</button>
            </div>

            <hr>

            <h5>Modifier les programmations</h5>
            <div class="row">
              <div class="col-sm mb-3">
                <select class="form-select" id="planningSelect">
                </select>
              </div>
              <div class="col-sm mb-3">
                <button type="button" class="btn btn-warning mb-3" id="planningRenameButton">Renommer</button>
                <button type="button" class="btn btn-danger mb-3" id="planningDeleteButton">Supprimer</button>
              </div>
            </div>

            <hr>

            <h5>D&eacute;tails de la programmation</h5>
            <div class="mb-3" id="planningSlots">
            </div>

            <hr>

            <h5>Ajout d'une &eacute;tape</h5>
            <div class="row mb-3" id="planningSlotAddDiv">
              <div class="col-sm">
                <select id="planningSlotSelectDow_add" class="form-select">
                </select>
              </div>
              <div class="col-sm">
                <select id="planningSlotSelectHour_add" class="form-select">
                </select>
              </div>
              <div class="col-sm">
                <select id="planningSlotSelectMinute_add" class="form-select">
                </select>
              </div>
              <div class="col-sm">
                <select id="planningSlotSelectOrder_add" class="form-select">
                </select>
              </div>
              <div class="col-sm">
                <button class='btn btn-primary' id='newSlotButton'>
                  <span class='bi bi-plus'></span>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingAccounts">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseAccounts" aria-expanded="false" aria-controls="collapseAccounts">
            Utilisateurs et permissions
          </button>
        </h2>
        <div id="collapseAccounts" class="accordion-collapse collapse" aria-labelledby="headingAccounts"
          data-bs-parent="#accordionApp">
          <div class="accordion-body">

            <div class="row" id="accountCreationDiv">
              <h5 class="mb-3">Cr&eacute;er un compte</h5>
              <form>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="newAccountId">
                  <label for="newAccountId">Identifiant</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="newAccountPass">
                  <label for="newAccountPass">Mot de passe</label>
                </div>
              </form>
              <div class="mb-3">
                <button type="button" class="btn btn-primary" id="newAccountButton">Ajouter</button>
              </div>
              <hr>
            </div>

            <h5 class="mb-3">G&eacute;rer les comptes</h5>
            <div class="mb-3">
              <table class="table table-striped table-bordered align-middle" id="accountListTable">
              </table>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item" id="headingFirmwareDiv">
        <h2 class="accordion-header" id="headingFirmware">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFirmware" aria-expanded="false" aria-controls="collapseFirmware">
            Micro-logiciel et mise &agrave; jour
          </button>
        </h2>
        <div id="collapseFirmware" class="accordion-collapse collapse" aria-labelledby="headingFirmware"
          data-bs-parent="#accordionApp">
          <div class="accordion-body">

            <h5 class="mb-3">Mise &agrave; jour du logiciel</h5>
            <div class="col-sm-auto mb-3">
              <input type="file" class="form-control" id="updateTextFilePath" readonly>
            </div>
            <div class="mb-3">
              <button type="button" class="btn btn-danger mb-3 w-100" id="updateUploadButton">Téléverser et
                redémarrer</button>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item" id="headingCertificateDiv">
        <h2 class="accordion-header" id="headingCertificate">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseCertificate" aria-expanded="false" aria-controls="collapseCertificate">
            Certificat TLS/SSL
          </button>
        </h2>
        <div id="collapseCertificate" class="accordion-collapse collapse" aria-labelledby="headingCertificate"
          data-bs-parent="#accordionApp">
          <div class="accordion-body">

            <div class="mb-3">
              <p>Cette section permet de charger un fichier "bundle" constitué d'éléments cryptographiques, qui sera
                utilisé à la place du certificat autosigné intégré par défaut dans le microgiciel. Si le "bundle" est
                chargé avec succès, il sera utilisé pour sécuriser les communications (WebUI + API) vers le serveur
                HTTPS du produit.</p>
              <p>Le "bundle" doit satisfaire les contraintes ci-dessous :</p>
              <ul>
                <li>Un certificat de l'autorité de certification racine (optionnel)</li>
                <li>Un (ou plusieurs) certificat intermériaires des autorités de certifications (optionnel)</li>
                <li>Un certificat serveur (<b>obligatoire</b>)</li>
                <li>Une clé privée associée au certificat serveur (<b>obligatoire</b>)</li>
                <li>Tous les éléments ci-dessus doivent être au <b>format PEM</b></li>
                <li>La clé privée <b>ne doit pas</b> être protégée par un mot de passe</li>
              </ul>
            </div>
            <h5 class="mb-3">Changement du nouveau "bundle"</h5>
            <div class="mb-3">
              <input type="file" class="form-control" id="certificateTextFilePath" readonly>
            </div>
            <div class="mb-3">
              <button type="button" class="btn btn-danger mb-3 w-100" id="updateCertificateButton">Téléverser et
                redémarrer</button>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item" id="headingHardwareDiv">
        <h2 class="accordion-header" id="headingHardware">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseHardware" aria-expanded="false" aria-controls="collapseHardware">
            Configuration du mat&eacute;riel
          </button>
        </h2>
        <div id="collapseHardware" class="accordion-collapse collapse" aria-labelledby="headingHardware"
          data-bs-parent="#accordionApp">
          <div class="accordion-body">

            <form action="/ofp-api/v1/hardware" method="POST" id="hardwareCurrentForm">
              <h5>Type de mat&eacute;riel</h5>
              <div class="mb-3">
                <select class="form-select" name="hardware_type" id="hardwareSupportedSelect">
                </select>
              </div>

              <hr>

              <h5>Configuration des param&egrave;tres</h5>

              <div class="mb-3" id="hardwareCurrentParameters">
              </div>

              <div class="row">
                <div class="col-sm">
                  <button type="button" class="btn btn-warning mb-3 w-100" id="hardwareCurrentReloadButton">Annuler et
                    recharger les param&egrave;tres</button>
                </div>
                <div class="col-sm">
                  <button type="button" class="btn btn-danger mb-3 w-100" id="hardwareCurrentApplyButton">Appliquer les
                    modifications et red&eacute;marrer</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingStatus">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseStatus" aria-expanded="true" aria-controls="collapseStatus">
            Informations sur le système
          </button>
        </h2>
        <div id="collapseStatus" class="accordion-collapse collapse" aria-labelledby="headingStatus"
          data-bs-parent="#accordionApp">
          <div class="accordion-body">

            <h5>Durée de fonctionnement</h5>
            <div id="status"></div>

          </div>
        </div>
      </div>

    </div>
  </div>

</body>

</html>